<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style type="text/css">
      body {
        font-family: arial;}
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{{ url_for('calendar') }}">Calendar view</a>
    <h3><mark>site updates:</mark></h3>
    <ul>
      <li>orders are now grouped so that each user's orders with the same rental start date are together, regardless of whether the orders were placed at separate times</li>
      <li>dropoff and pickup times now show user's availability timeslots or the precise chosen time with link to make the google calendar events. empty means dropoff/pickup is completed or user has not submitted availability</li>
      <li>work-in-progress calendar view can be accessed <a href="{{ url_for('calendar') }}">here</a></li>
    </ul>

    <table>
      <tr>
        <th>id</th>
        <th>rental start</th>
        <th>customer name</th>
        <th>customer email</th>
        <th>customer phone #</th>
        <th>payment</th>
        <th>customer location</th>
        <th>drop off time</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>sub price</th>
        <th>deposit</th>
        <th>tax</th>
        <th>total sub</th>
        <th>total due</th>
        <th>payment acct</th>
        <th>pick up date/time</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>item name</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>rental end</th>
        <th></th>
      </tr>
      {% for row in rows %}
      <tr>
        <td> 0 </td> <!-- id -->
        <td>{{ row[0] }}</td> <!-- rental start -->
        <td>{{ row[1]}}</td> <!-- customer name -->
        <td>{{ row[2] }}</td> <!-- customer email -->
        <td>{{ row[3] }}</td> <!-- customer phone -->
        <td>{{ row[12] }}</td> <!-- payment -->
        <td>{{ row[4] }}</td> <!-- customer address -->
        {% if logi_li[loop.index0][-2]==1 %}
         <td><a href="{{ url_for('makecalevents', ltype='dropoff', renter=row[1], date=row[0], time=logi_li[loop.index0][6], item_name=row[8], item_link=row[11], tid=row[13], address=logi_li[loop.index0][7], phone=row[3], payment=row[12], notes=logi_li[loop.index0][8], email=row[2], rid=row[14]) }}">{{ logi_li[loop.index0][6] }}</a></td> <!-- drop off time, nothing means it does not need an event, none means user has submitted availability but ops has not chosen a time-->
        {% else %}
         <td>{{logi_li[loop.index0][6]}}</td>
        {% endif %}
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>{{ row[5] }}</td> <!-- subprice -->
        <td>{{ row[6] }}</td> <!-- deposit -->
        <td>{{ row[7] }}</td> <!-- tax -->
        <td> </td> <!-- total sub -->
        <td> </td> <!-- total due -->
        <td> </td> <!-- payment acct -->
        {% if logi_li[loop.index0][-1]==1 %}
        <td><a href="{{ url_for('makecalevents', ltype='pickup', renter=row[1], date=row[9], time=logi_li[loop.index0][9], item_name=row[8], item_link=row[11], tid=row[13], address=logi_li[loop.index0][7], phone=row[3], payment=row[12], notes=logi_li[loop.index0][11], email=row[2], rid=row[14], p_date=ext_li[loop.index0]) }}"> {{ ext_li[loop.index0] }} @ {{logi_li[loop.index0][9] }} </td> <!-- pick up datetime, 9th element in logi li item -->
        {% else %}
        <td>{{ ext_li[loop.index0] }} @ {{logi_li[loop.index0][9]}}</td>
        {% endif %}
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td><a href={{row[11]}}>{{ row[8] }}</a></td> <!-- item link and name -->
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>{{ row[9] }}</td> <!-- rental end -->
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
