<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>rental start</th>
        <th>customer name</th>
        <th>customer email</th>
        <th>customer phone #</th>
        <th>payment</th>
        <th>customer location</th>
        <th>drop off time</th>
        <th>item prep labor time</th>
        <th>locate items labor time</th>
        <th>travel labor time</th>
        <th>drop off labor time</th>
        <th>sub price</th>
        <th>deposit</th>
        <th>tax</th>
        <th>total sub</th>
        <th>total due</th>
        <th>payment acct</th>
        <th>pick up date/time</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>item name</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>rental end</th>
        <th></th>
      </tr>
      {% for row in rows %} <!-- this doesn't work -->
      <tr>
        <td> 0 </td> <!-- id -->
        <td>{{ row[0] }}</td> <!-- rental start -->
        <td>{{ row[1]}}</td> <!-- customer name -->
        <td>{{ row[2] }}</td> <!-- customer email -->
        <td>{{ row[3] }}</td> <!-- customer phone -->
        <td> </td> <!-- payment -->
        <td>{{ row[4] }}</td> <!-- customer address -->
        <td> </td> <!-- drop off time -->
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>{{ row[5] }}</td> <!-- subprice -->
        <td>{{ row[6] }}</td> <!-- deposit -->
        <td>{{ row[7] }}</td> <!-- tax -->
        <td> </td> <!-- total sub -->
        <td> </td> <!-- total due -->
        <td> </td> <!-- payment acct -->
        <td> </td> <!-- pick up datetime -->
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>{{ row[8] }}</td> <!-- item name -->
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>{{ row[9] }}</td> <!-- rental end -->
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
