<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="login" onsubmit="return login()">
      <h1>LOGIN</h1>
      <input type="email" placeholder="Email" name="email" required value="jon@doe.com"/>
      <input type="password" placeholder="Password" name="password" required value="12345"/>
      <input type="submit" value="Sign In"/>
    </form>
    <!-- <form id="login" onsubmit="return login()">
      <h1>LOGIN</h1>
      <input type="email" placeholder="Email" name="email" required value="jon@doe.com"/>
      <input type="password" placeholder="Password" name="password" required value="12345"/>
      <input type="submit" value="Sign In"/>
    </form> -->
    <!-- <form action="{{ url_for("login")}}" method="post">
    <label for="email">email:</label>
    <input type="email" id="email" name="email" placeholder="email">
    <label for="password">password:</label>
    <input type="password" id="password" name="password" placeholder="password"> -->
    <!-- <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lname" placeholder="lastname">  -->
    <!-- <button type="submit">Login</button> -->

  </body>
</html>
